body {
  background-color: lightblue;
}
p#a {
  color: green;
  font-size: 120%;
}
.span {
  color: green;
}
h1 {
  color: black;
  text-align: center;
  background-color: blue;
}
h2 {
  color: blue;
}
h3 {
  color: blue;
  font-size: 150%;
}
#p1 {
  text-align: justify;
  margin: auto;
  width: 600px;
}
p {
  text-align: justify;
  width: 1200px;
}
p.class1 {
  text-align: center;
  color: red;
  font-size: 200%;
}
ol {
  color: red;
}
ul {
  color: rgb(7, 7, 7);
}
ol.classBlack {
  color: black;
}
.classBlack {
  color: gray;
}

ol.classBlack li#hola {
  color: blue;
}
