body {
  background-color: lightblue;
}

h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: blue;
}
p.parrafo1 {
  text-align: justify;
  margin: auto;
  width: 600px;
}
p.parrafo2 {
  text-align: justify;
  width: 1000px;
}
ol {
  color: red;
}
ul {
  color: rgb(7, 7, 7);
}
ol.classBlack {
  color: black;
}
.classBlack {
  color: gray;
}

ol.classBlack li#hola {
  color: blue;
}
